<div class="header-container">
  <div class="header-left">
      <h2><b>NG-ROLODEX</b></h2>
  </div>

  <div class="header-right">
      <ul>
          <li>
            <h2>
              <a routerLink="/">Home</a>
            </h2>
          </li>
          <li>
            <h2>
              <a routerLink="/contacts">Contacts</a>
            </h2>
          </li>
          <li>
            <h2>
              <a routerLink="/create-contact">Create</a>
            </h2>
          </li>
          <li>
            <h2>
              <a routerLink="/profile">Profile</a>
            </h2>
          </li>
          <li>
              <h2>
                <a [routerLink]="['/admin']">Lazy</a>
              </h2>
            </li>
          <li>
              <div class="logged-in" *ngIf="isLoggedIn()">
                  Welcome, {{user?.username}}
                  <button (click)="logout()">Log Out</button>
                </div>
          </li>
          <li>
              <div class="logged-out" *ngIf="!isLoggedIn()">
                  <button (click)="login()">Log In</button>
                </div>
          </li>
        </ul>
  </div>
</div>
